@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'the_sans-italic';
    src: url('fonts/ufonts.com_thesans-italic-webfont.eot');
    src: url('fonts/ufonts.com_thesans-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ufonts.com_thesans-italic-webfont.woff2') format('woff2'),
         url('fonts/ufonts.com_thesans-italic-webfont.woff') format('woff'),
         url('fonts/ufonts.com_thesans-italic-webfont.ttf') format('truetype'),
         url('fonts/ufonts.com_thesans-italic-webfont.svg#the_sans-italic') format('svg');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'thesansextrabolditalic';
    src: url('fonts/thesansextrabold_italic-webfont.eot');
    src: url('fonts/thesansextrabold_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/thesansextrabold_italic-webfont.woff2') format('woff2'),
         url('fonts/thesansextrabold_italic-webfont.woff') format('woff'),
         url('fonts/thesansextrabold_italic-webfont.ttf') format('truetype'),
         url('fonts/thesansextrabold_italic-webfont.svg#thesansitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'the_sans_bold-regular';
    src: url('fonts/thesans-bold-plain-webfont.eot');
    src: url('fonts/thesans-bold-plain-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/thesans-bold-plain-webfont.woff2') format('woff2'),
         url('fonts/thesans-bold-plain-webfont.woff') format('woff'),
         url('fonts/thesans-bold-plain-webfont.ttf') format('truetype'),
         url('fonts/thesans-bold-plain-webfont.svg#the_sans_bold-regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'the_sans_extra_bold-regular';
    src: url('fonts/thesans-extrabold-plain-webfont.eot');
    src: url('fonts/thesans-extrabold-plain-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/thesans-extrabold-plain-webfont.woff2') format('woff2'),
         url('fonts/thesans-extrabold-plain-webfont.woff') format('woff'),
         url('fonts/thesans-extrabold-plain-webfont.ttf') format('truetype'),
         url('fonts/thesans-extrabold-plain-webfont.svg#the_sans_extra_bold-regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'the_sans_light-regular';
    src: url('fonts/thesans-light-plain-webfont.eot');
    src: url('fonts/thesans-light-plain-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/thesans-light-plain-webfont.woff2') format('woff2'),
         url('fonts/thesans-light-plain-webfont.woff') format('woff'),
         url('fonts/thesans-light-plain-webfont.ttf') format('truetype'),
         url('fonts/thesans-light-plain-webfont.svg#the_sans_light-regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'the_sans_extra_light-plain';
    src: url('fonts/thesansextralight_plain-webfont.eot');
    src: url('fonts/thesansextralight_plain-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/thesansextralight_plain-webfont.woff2') format('woff2'),
         url('fonts/thesansextralight_plain-webfont.woff') format('woff'),
         url('fonts/thesansextralight_plain-webfont.ttf') format('truetype'),
         url('fonts/thesansextralight_plain-webfont.svg#the_sans_extra_light-regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

li{
 	font-family: 'the_sans-italic';
 	color: #fff;
}
li:hover{
  font-family: 'thesansextrabolditalic';
  font-weight: bold;

}

html,body{
	width:100%;
	height:100%;
	font-family: 'the_sans_extra_light-plain', sans-serif;
	font-size: 44px; 
	letter-spacing: 2px;
	-ms-overflow-style: none;
}

body::-webkit-scrollbar { 
  /* This is the magic bit */
  display: none;
}

a:link {
  color:#f68b1f;
  text-decoration: none;
}

a:visited {
  color:#f68b1f;
}

a:hover {
  color:#002e60;
}   

a:active {
  color:#002e60;
} 

.h1-title{
 color: #fff;
 font-size: 37px;
 	font-family: 'the_sans_extra_bold-regular', sans-serif;
	font-weight: bold;
 
 }
 
.h2-title{
 color: #f68b1f;
 font-size: 37px;
 }
 
.h2-text{
 color: #f68b1f;
 font-size: 24px;
 
}
 
.content-style{
margin-top: 10%;
font-family: 'the_sans_extra_light-plain', sans-serif;
letter-spacing: 2px;
font-size: 28px;
line-height: 36px;
color: #fff;
} 


.login-popup7{
top: 50%;
left: 50%;
}

/* Flip */
   .panel {
            margin: 0 auto;
            width: 130px;
            height: 130px;  
            position: relative;
            font-size: .8em;
            -webkit-perspective: 600px;
            -moz-perspective: 600px;
        }
        /* -- make sure to declare a default for every property that you want animated -- */
        /* -- general styles, including Y axis rotation -- */
        .panel .front {
            position: absolute;
            top: 0;
            z-index: 900;
            width: inherit;
            height: inherit;
            text-align: center;
            -webkit-transform: rotateX(0deg) rotateY(0deg);
            -webkit-transform-style: preserve-3d;
            -webkit-backface-visibility: hidden;
            -moz-transform: rotateX(0deg) rotateY(0deg);
            -moz-transform-style: preserve-3d;
            -moz-backface-visibility: hidden;
            /* -- transition is the magic sauce for animation -- */
            -o-transition: all .4s ease-in-out;
            -ms-transition: all .4s ease-in-out;
            -moz-transition: all .4s ease-in-out;
            -webkit-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
        }
        .panel.flip .front {
            z-index: 900;
            -webkit-transform: rotateY(180deg);
            -moz-transform: rotateY(180deg);
        }
        .panel .back {
            position: absolute;
            top: 0;
            z-index: 800;
            width: inherit;
            height: inherit;
            -webkit-transform: rotateY(-180deg);
            -webkit-transform-style: preserve-3d;
            -webkit-backface-visibility: hidden;
 
            -moz-transform: rotateY(-180deg);
            -moz-transform-style: preserve-3d;
            -moz-backface-visibility: hidden;
            /* -- transition is the magic sauce for animation -- */
            -o-transition: all .4s ease-in-out;
            -ms-transition: all .4s ease-in-out;
            -moz-transition: all .4s ease-in-out;
            -webkit-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
        }
        .panel.flip .back {
            z-index: 1000;
            -webkit-transform: rotateX(0deg) rotateY(0deg);
            -moz-transform: rotateX(0deg) rotateY(0deg);
        }


.panel {
    margin: 0 auto;
    width: 130px;
    height: 130px;  
    position: relative;
    font-size: .8em;
    -webkit-perspective: 600px;
    -moz-perspective: 600px;
}
/* -- make sure to declare a default for every property that you want animated -- */
/* -- general styles, including Y axis rotation -- */
.panel .front {
    position: absolute;
    top: 0;
    z-index: 900;
    width: inherit;
    height: inherit;
    text-align: center;
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform-style: preserve-3d;
    -moz-backface-visibility: hidden;
    /* -- transition is the magic sauce for animation -- */
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.panel.flip .front {
    z-index: 900;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
}
.panel .back {
    position: absolute;
    top: 0;
    z-index: 800;
    width: inherit;
    height: inherit;
    -webkit-transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
 
    -moz-transform: rotateY(-180deg);
    -moz-transform-style: preserve-3d;
    -moz-backface-visibility: hidden;
    /* -- transition is the magic sauce for animation -- */
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.panel.flip .back {
    z-index: 1000;
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
}

.menu{
position: absolute;
margin-left: 95%;
margin-top: 15px;
}


/* Mask for background, by default is not display */
.login-menu{
    display: none;
    padding: 10px;
    font-size: 1.2em;
    position: fixed;
    z-index: 99999;
    line-height: 1.75em;
    color: #fff;
    font-style: italic;
}

#menu-mask {
    display: none;
    background: #f68b1f;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: 999;
}

/* Mask for background, by default is not display */
#mask {
    display: none;
    background: #fff;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: 999;
}


.turn{
padding: 15px;
float: right;
margin-right: 15px;
}

.turn-lo{
padding: 15px;
float: left;
margin-right: 15px;
}

.slide{
	background-attachment: fixed;
	width:100%;
	height:100%;
	position: relative;
}
.wrapper{
	width:960px;
	height:200px;
	margin:0 auto;
	position:relative;
}
.slideno{
	position:absolute;
	bottom:0px;
	left:0px;
	font-size:100px;
	font-weight:bold;
	color:rgba(255,255,255,0.3);
}

.button:hover{
color: #fff;
}

.button:hover {
cursor: pointer;
}

.button-arrow-orange, .button-arrow-white{
	display:block;
	width:50px;
	height:50px;
	position:absolute;
	bottom:0px;
  left:50%;
  background-size: cover;
}
 
.button-arrow-orange{
	background-color:#fff;
	background-image:url(../images/arroworange.png);
}

.button-arrow-white{
	background-color:#f68b1f;
	background-image:url(../images/arrowwhite.png);
}

.button-arrow-white-top, .button-arrow-orange-top{
	display:block;
	width:50px;
	height:50px;
	position:absolute;
	top:0px;
	left:50%;
  background-size: cover;
}

.button-arrow-white-top{
	background-color:#f68b1f;
	background-image:url(../images/arrowwhitetop.png);
}

.button-arrow-orange-top{
	background-color:#fff;
	background-image:url(../images/arroworangetop.png);
}

.logo-color, .logo-white{
position: absolute;
margin-left: 5%;
margin-top: 15px;
width: 250px;
height: 30px;
background-size: cover;
}

.logo-color{
background-image: url(../images/logo-color.png);
}

.logo-white{
background-image: url(../images/logo-white.png);
}


.content{
     position:absolute;
     width:750px;
     height:500px;
     z-index:15;
     top:50%;
     left:48%;
     margin:-250px 0 0 -300px;
}
.content-vv{
     position:absolute;
     width:600px;
     height:600px;
     z-index:15;
     top:50%;
     left:50%;
     margin:-250px 0 0 -250px;
}
.content-video{
     position:absolute;
     width:750px;
     height:500px;
     z-index:15;
     top:57%;
     left:50%;
     margin:-250px 0 0 -300px;
}

/******************************
 SLIDE 1 
*******************************/
#slide1{
	background-color:#f68b1f;
	
}
/******************************
 SLIDE 2 
*******************************/
#slide2{
	background-color:#fff;
}

.vensters-links-boven,.vensters-links-onder{
display: inline-block;
position: relative;
float: left;
height: 275px;
width: 45%;
margin-right: 10px;
margin-bottom: 5px;

}
.vensters-rechts-boven, .vensters-rechts-onder{
display: inline-block;
position: relative;
width: 45%;
height: 275px;
margin-left: 5px;
margin-bottom: 5px;

}

.vensters-links-boven, .vensters-rechts-boven, .vensters-links-onder, .vensters-rechts-onder{
border-radius: 30px;
}

.vensters-links-boven:hover, .vensters-rechts-boven:hover, .vensters-links-onder:hover, .vensters-rechts-onder:hover{
    box-shadow: 0px 0px 25px 5px #f68b1f; 
    -webkit-box-shadow: 0px 0px 25px 5px #f68b1f;
    -moz-box-shadow: 0px 0px 25px 5px #f68b1f;
    background-color: #f68b1f;

}

.image{
padding: 35px;
margin-top: 100px;
margin-left: 50px;
}

.image-popup{
padding: 35px;
margin-top: 100px;
margin-left: 50px;
}

.content-ring {
position:absolute;
width:80px;
height:80px;
z-index:15;
top:52%;
left:52%;
margin:-100px 0 0 -100px;
}

/* You can customize to your needs  */
.login-popup1, .login-popup2, .login-popup3, .login-popup4, .login-popup7{
    display: none;
    padding: 10px;
    float: left;
    font-size: 1.2em;
    position: fixed;
    z-index: 99999;
} 

.login-popup1 {
    top: 25%;
    left: 36%;
}

.login-popup2 {
    top: 25%;
    left: 56%;
}

.login-popup4 { /*dit is venster 3*/
    top: 62%;
    left: 56%;
}

.login-popup3 { /* dit is venster 4 */
    top: 62%;
    left: 36%;
}


/******************************
 SLIDE 3 
*******************************/
#slide3{
	background-color:#f68b1f;
}

/******************************
 SLIDE 4 
*******************************/

#slide4{
	background-color:#fff;
}

